x-button {
  --x-button-padding: 0.5rem 1rem;
  --x-button-border-radius: 8px;
  --x-button-background-color: #fff;
  --x-button-color: #00996b;
  --x-button-border: 1px solid #00996b;

  display: inline-grid;
  place-items: center;
  padding: var(--x-button-padding);
  border-radius: var(--x-button-border-radius);
  cursor: pointer;
  background-color: var(--x-button-background-color);
  color: var(--x-button-color);
  border: var(--x-button-border);
}

x-button[size="sm"] {
  --x-button-padding: 0.25rem 0.5rem;
  --x-button-font-size: 0.875rem;
}

x-button[size="lg"] {
  --x-button-padding: 0.5rem 1rem;
  --x-button-font-size: 1.25rem;
}

x-button[variant="secondary"] {
  --x-button-color: #004a99;
  --x-button-border: 1px solid #004a99;
}

x-button[variant="danger"] {
  --x-button-color: tomato;
  --x-button-border: 1px solid tomato;
}

x-button::part(button) {
  all: inherit;
}